# ABSOFTWARE GITIGNORE:

# General
*.exe
*.exe.config
*.pdb
*.so
*.dll
*.dylib
*.o
*.obj
*.ilk
*.exp
*.lib
*.pdb
*.swp
*.*.user
.vs
bin
obj
Debug
Release
mono_crash.*
packages/**/*
!packages/repositories.config
MakeBuild